.landing {
    background: url('../images//tmpView.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
}
video {
    display: none;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-200%);
    width: 80%;
}
.overlay {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay p {
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-60%);
}
.welcome:before, .donate:before, .donate:after, .about:before, footer:before{
    background: var(--main-color);
    content: 'Welcome';
    color: #fff;
    display: flex;
    font-size: 100%;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9998;
}
.welcome:before {
    top: -5%;
}
.about:before {
    background: var(--secondary-color);;
    content: 'Meet The Family';
    top: -5%;
}
.donate:before {
    background:  var(--secondary-color);;
    content: 'How You Can Help';
    top: -5%;
}
.donate:after {
    content: 'Get Involved';
    bottom: -5%;
}
.fb-page {
    padding-top: 50px;
}
footer:before {
    content: '';
    top: -5%;
}
.weather {
    background:var(--secondary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
@media only screen and (min-width: 767px) and (min-height: 900px ) {
    .landing {
        background: transparent;
        min-height: 50vh;
    }
    video {
        display: inherit;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        transform: scale(2);
        z-index: -1;
    }
    .title {
        font-size: 200%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-150%)
    }
    .overlay p {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30%;
    }
}
@media only screen and (min-width: 767px) {
    .landing {
        background: transparent;
        min-height: 100vh;
    }
    video {
        display: inherit;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        transform: scale(2);
        z-index: -1;
    }
    .title {
        font-size: 200%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-150%)
    }
    .overlay p {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30%;
    }
}