.volunteer {
    min-height: 100vh;
    padding: 100px 0 60px 0;
}
.volunteer #contact-form > * {
    border: 1px solid;
    border-radius: 5px;
    display: block;
    margin: 0.5em auto;
    width: 80%;
    padding: 12px 20px;
}
.volunteer #contact-form button {
    background: #fff;
    width: 93%;
}
@media only screen and (min-width: 768px) {
    .volunteer {
    }
    .volunteer > div {
        margin: 0 auto;
        width: 35%;
    }
}