@media only screen and (min-width: 0px) {
.about, .more-info {
    min-height: 100vh;
    padding: 60px 0;
    position: relative;
}
.about img {
    border-radius: 50%;
    border: 2px solid var(--main-color);
    width: 200px;
    height: 200px;
}
.about div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
}
.hide {
    background: var(--main-color);
    border-radius: 30px;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}
.aboutShow {
    opacity: 1;
    bottom: 0;
}
.about .image-deb, .about .image-tom, .about .image-meet {
    border: 3px solid var(--main-color);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.about .image-deb {
    background: var(--secondary-color) url('../images/dr_deb_about.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;
}
.about .image-tom {
    background: var(--secondary-color) url('../images//tom.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;
}
.about .image-meet {
    background: var(--secondary-color) url('../images//meet.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;
}
.more-info {
    width: 90%;
    margin: 1em auto;
}
.more-info p {
    margin: 1em auto;
    text-align: left;
}

}
@media only screen and (min-width: 768px) {
    .more-info {
        width: 50%;
    }
    .about div {
        max-width: 70%;
    }
    .about div a {
        margin: 1em auto;
        width: 45%;
    }
}