.donate {
    margin-bottom: 2em;
    padding: 70px 0;
    position: relative;
}
.donate-items {
    min-height: 100vh;
    padding: 60px 0;
}
.item {
    background: rgba(250, 249, 247, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 5px;
    width: 90%;
    margin: 1em auto 3em auto;
    padding: 10px;
}
.item img {
    width: 100%;
}
.item p {
    text-align: left;
}
.item h3, .donate-items h2, .donate-items h3, .donate-items form {
    margin: 0.5em auto;
}
.donate-items a {
    background: var(--main-color);;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 1em;
    padding: 12px 15px;
    text-decoration: none;
}
.donate > div {
    width: 80%;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    .donate-items {
        max-width: 60%;
        margin: 0 auto;
    }
    .items {
        width: 100%;
        margin: 0 auto;
    }
    .donate > div {
        width: 50%;
        margin: 0 auto;
    }
}