@media only screen and (min-width: 0px) {
    header {
        background: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 60px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 99999;
    }
    .brand {
        display: flex;
        align-items: center;
    }
    .brand a {
        color: #fff;
        text-decoration: none;
    }
    nav {
        background: var(--secondary-color);
        position: fixed;
        right: 100%;
        transition: 0.35s all;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        width: 80%;
        height: 100vh;
        z-index: 9999;
    }
    .menu {
        background: var(--main-color);
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 150%;
        width: 20%;
    }
    .show {
        right: 20%;
    }
    nav a {
        color: #fff;
        display: block;
        padding: 0.5em;
        text-decoration: none;
        width: 100%;
        text-align: left;
        transition: 0.35s all;
    }
    nav a:hover {
        background: var(--main-color);
    }
    .paypal {
        background: var(--main-color);
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .admin > *, .admin a button {
        color: #fff;
    }
    .admin a {
        width: 100%;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.35s;
    }
    .admin a:hover {
        background: var(--main-color);
    }
    /* .admin button:after {
        background: red;
        color: red;
        display: block;
        content: "";
        margin-top: 5px;
        width: 0;
        height: 5px;
        transition: all 0.35s;
    } */
    /* .admin button:hover:after, nav a:hover:after {
        width: 100%;
    } */
    .admin img {
        border-radius: 50%;
    }
  }