footer {
    background:  var(--secondary-color);
    margin-top: 1em;
    min-height: 20vh;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    padding-top: 50px;
    position: relative;
}