.productDetails {
    min-height: 100vh;
    padding: 60px 0;
}
.productDetails img {
    width: 50%;
}
.productDetails button {
    background: var(--main-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
}
.productDetails ul {
    text-align: left;
    width: 90%;
    margin: 1em auto;
}
.productDetails .editButton {
    background: var(--secondary-color);
}